[submodule "src/mpa_ext"]
	path = src/mpa_ext
	url = git@github.com:NetCal/DNCext_MPARTC.git
[submodule "src/test"]
	path = src/functional_tests
	url = git@github.com:NetCal/DNC_func_tests.git
[submodule "src/functional_tests"]
	path = src/functional_tests
	url = https://github.com/NetCal/DNC_func_tests
