[submodule "src/mpa_ext"]
	path = src/mpa_ext
	url = git@github.com:NetCal/DiscoDNCext_MPARTC.git
[submodule "src/test"]
	path = src/test
	url = git@github.com:NetCal/DiscoDNC_tests.git
[submodule "src/experiments"]
	path = src/experiments
	url = git@github.com:NetCal/DiscoDNC_experiments.git
